.badge {
  font-size: 12px;
  height: 24px;
  line-height: 18px;
  text-decoration: none;
  padding: 0px 10px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 0.25px;
  cursor: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}

.badge {
  background: hsl(0, 0%, 93%);
  color: hsl(0, 0%, 23%);
}
[data-theme="dark"] .badge {
  background: hsla(0, 0%, 94%, 0.15);
  color: hsl(0, 0%, 95%);
}

.react,
.reactnative {
  background: hsla(190, 80%, 60%, 0.3);
  color: hsl(190, 81%, 21%);
}
.typescript {
  background: hsla(211, 61%, 46%, 0.3);
  color: hsl(211, 74%, 26%);
}
.javascript {
  background: hsla(52, 78%, 61%, 0.5);
  color: rgb(102, 89, 3);
}
.python {
  background: hsla(45, 87%, 59%, 0.5);
  color: hsl(45, 78%, 23%);
}
.java,
.angular {
  background: hsla(0, 100%, 50%, 0.301);
  color: rgb(63, 0, 0);
}
.php {
  background: hsla(236, 53%, 64%, 0.3);
  color: rgb(58, 60, 94);
}
.mongodb {
  background: hsla(111, 47%, 46%, 0.3);
  color: rgb(34, 99, 22);
}
.sass {
  background: hsla(331, 47%, 59%, 0.3);
  color: rgb(110, 37, 73);
}
.ionic {
  background: hsla(217, 83%, 55%, 0.3);
  color: rgb(0, 40, 77);
}
.c {
  background: hsla(206, 100%, 29%, 0.3);
  color: hsl(206, 98%, 24%);
}
.rust {
  background: hsla(30, 100%, 50%, 0.3);
  color: hsl(30, 94%, 40%);
}
/* #66d1dd */
.go {
  background: hsla(187, 100%, 50%, 0.3);
  color: hsl(187, 95%, 39%);
}
[data-theme="dark"] .react,
[data-theme="dark"] .reactnative {
  background: hsla(190, 80%, 60%, 0.3);
  color: hsl(190, 100%, 81%);
}
[data-theme="dark"] .typescript {
  background: hsla(211, 61%, 46%, 0.3);
  color: hsl(211, 100%, 86%);
}
[data-theme="dark"] .javascript {
  background: hsla(52, 51%, 43%, 0.5);
  color: hsl(52, 100%, 81%);
}
[data-theme="dark"] .python {
  background: hsla(45, 61%, 45%, 0.5);
  color: hsl(45, 89%, 82%);
}
[data-theme="dark"] .java,
[data-theme="dark"] .angular {
  background: hsla(359, 65%, 45%, 0.3);
  color: hsl(359, 100%, 83%);
}
[data-theme="dark"] .php {
  background: hsla(236, 53%, 64%, 0.3);
  color: hsl(236, 100%, 84%);
}
[data-theme="dark"] .mongodb {
  background: hsla(111, 47%, 34%, 0.3);
  color: hsl(112, 73%, 78%);
}
[data-theme="dark"] .sass {
  background: hsla(331, 47%, 59%, 0.3);
  color: hsl(331, 83%, 84%);
}
[data-theme="dark"] .c {
  background: hsla(206, 80%, 34%, 0.3);
  color: hsl(206, 76%, 60%);
}
[data-theme="dark"] .rust {
  background: hsla(30, 100%, 50%, 0.3);
  color: hsl(30, 100%, 71%);
}
[data-theme="dark"] .ionic {
  background: hsla(217, 83%, 55%, 0.3);
  color: hsl(217, 100%, 81%);
}
[data-theme="dark"] .go {
  background: hsla(187, 100%, 50%, 0.3);
  color: hsl(187, 100%, 81%);
}
