.projectCard {
  margin-bottom: calc(var(--ifm-spacing-horizontal) * 2);
  --ifm-col-width: calc(4 / 12 * 100%);
  flex: 0 0 var(--ifm-col-width);
  padding: 0 var(--ifm-spacing-horizontal);
}
@media (max-width: 1200px) {
  .projectCard {
    --ifm-col-width: 50%;
    flex-basis: var(--ifm-col-width);
  }
}
@media (max-width: 800px) {
  .projectCard {
    --ifm-col-width: 100%;
    flex-basis: var(--ifm-col-width);
  }
}

.innerCard {
  border: 1px solid var(--ifm-color-emphasis-200);
  height: 100%;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondaryTitle {
  margin: 0 0 0 1rem;
}
.secondaryImage {
  width: 50px;
  height: 50px;
}
.secondaryBody {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0 0 1rem 0;
}

.footer {
  display: flex;
  justify-content: left;
  align-items: center;
}
.footer .button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a:first-child {
  margin-right: 1rem;
}
