.banner {
  text-align: left;
  position: relative;
  overflow: hidden;
  background: #0d9488;
  color: #fff;
  margin-bottom: 4rem;
  padding: 4rem 0rem;
  text-shadow: 3px 0px 30px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 2.6rem;
}

.subtitle {
  margin: 0;
}

@media only screen and (max-width: 996px) {
  .banner {
    padding: 4rem 0rem;
  }

  .title {
    font-size: 2.3rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}
